html,
body {
    height: 100%;
}

html {
    padding: 20px;
    display: table;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    background: -webkit-linear-gradient(bottom, rgb(14, 12, 12), rgb(35, 19, 98));
    display: table-cell;
    vertical-align: middle;
    color: rgb(237, 235, 235);
}

.flexf {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: rgba(9, 24, 145, 0.854);
    width: 90%;
    padding: 0.5rem;
    border-radius: 0.75rem;
    outline: none;
    border: none;
    color: rgba(253, 206, 206, 0.941);
}

.button {
    border: 1px solid #c10000;
    background-color: #ff0000;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration-color: white;
    text-decoration-style: solid;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}

input::placeholder {
    color: rgba(253, 206, 206, 0.941);
}

.button:hover {
    border: 1px solid #c10000;
    background-color: #c10000;
    color: white;
}

.button:disabled {
    border: 1px solid #999999;
    background-color: #f11a1aad;
    color: #ead6d6;
}

.custom-select {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

select {
    background-color: rgba(9, 24, 145, 0.854);
    width: 90%;
    padding: 0.5rem;
    border-radius: 0.75rem;
    outline: none;
    border: none;
    color: rgba(253, 206, 206, 0.941);
}

label {
    font-size: 13px;
    color: rgb(233, 230, 230);

}

input {
    color: #fff;
    width: 90%;
}

#text-out {
    margin: 10px auto;
    font-size: 14px;
    color: #fffefe;
}

.dropdown-text {
    font-size: 14px;
    color: #fff;

}