<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Adding Roboto and Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <!--Add web.css to this HTML file.-->
    <link rel="stylesheet" href="/static/web.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Add title to this HTML file.-->
    <title>YouTube Description Generator | Home</title>

    <link href="/static/favicon.png" rel="icon">

    <meta
        content="Online Tool to generate Description of an eligible YouTube Video by summarization of its transcript. The video should have well formatted closed-captions to perform summarization by various techniques."
        name="description">
</head>

<body>
    <div class="flexf">
        <img style="padding:1rem" src="/static/yt_icon_rgb.svg" height="64" width="64" alt="YouTube Icon">
        <!--Titles-->
        <h1 style="font-weight: 300;">YouTube Description Generator</h1>
    </div>
    <h3 style="font-family: 'Open Sans', sans-serif; font-weight: 300;">Generate Description of your video.<br>Within
        seconds.</h3>
    <!--Info Message to go to summarize or web endpoint-->
    <h5 style="font-weight: 400; line-height: 1.6">If you would like to try our API directly, request
        our URL <u>http://127.0.0.1:5000/summarize/</u> with GET
        Method.<br>The accepted arguments are <span style="font-weight: 300;"><b>[id, percent, choice]</b></span>
        only as depicted in following dummy URL:
    </h5>
    <h3 style="font-family: 'Open Sans', sans-serif; font-weight: 300;">
        http://127.0.0.1:5000/summarize/?id=<span style="font-weight: 400;"><b>your-video-id</b></span>&percent=<span
            style="font-weight: 400;"><b>your-percent</b></span>&choice=<span
            style="font-weight: 400;"><b>your-summary-choice</b></span>
    </h3>
    <!--Info Message to go to summarize or web endpoint-->
    <h3>Click <a href="/">here</a> for accessing our youtube description Generator.</h3>
    <h5>Use API <a href="/api/"> from here</a>.</h5>

    <div id="promote">
        <h5 style="font-family: 'Roboto', sans-serif; font-weight: 300;">Made with &#10084;&#65039; in
            India.
        </h5>
    </div>
</body>

</html>